* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

#root {
  white-space: pre-line;
}

:root {
  --bg-img: url(assets/bg/bg-light.jpg);
  --text-color: #44566c;
  --bg-menu-btn: #f3f6f6;

  --bg-sec: #ffffff;
  --title-color: #222222;
  --border-color: none;
  --bg-progress: #EDF2F2;

  --bg-portfolioItem: #fff0f0;

  /* --box-shadow-sec: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  --box-shadow-menuTM: 0px 10px 15px -3px rgb(0 0 0 / 15%);
  --h4-color: #252525;

  --span-color: #000000;
  --strong-color: #222222;
  --p-color: #111111;

  --text-color: #666666; */
}


[data-theme="dark"] {
  --bg-img: url(assets/bg/bg-dark.jpg);
  --text-color: #a6a6a6;
  --bg-menu-btn: #212425;

  --bg-sec: #111111;
  --title-color: #ffffff;
  --border-color: #212425;
  --bg-progress: #1C1C1C;
  --bg-portfolioItem: none;
  /* --box-shadow-sec: 0 10px 30px 0 rgb(185 185 185 / 15%);
  --box-shadow-menuTM: 0px 10px 15px -3px rgba(145, 145, 145, 0.15);
  --h4-color: #ffffff;

  --span-color: #ffffff;
  --strong-color: #ffffff;
  --p-color: #ffffff; */

  /* --text-color: #e2e2e2; */

}





.App {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: var(--bg-img);

  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
}




.layout {
  padding-top: 80px;
}



.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title h1 {
  color: var(--title-color);
}

.title span {
  width: 10rem;
  height: 3px;
  margin: 0 30px;

  border-radius: 3px;
  background: rgb(250 82 82);
  display: none;
}



.container {
  width: 100%;
  background: var(--bg-sec);
  min-height: 100vh;

  overflow: hidden;
  padding: 20px;

}














@media screen and (min-width:768px) {
  .title {
    width: 100%;
  }

  .title span {
    display: block;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width:992px) {
  .layout {
    padding: 0 40px;
    padding-top: 100px;
  }

  .container {
    padding: 3rem 5rem;
    border-radius: 1rem;
  }
}